.elementor-681 .elementor-element.elementor-element-da2f1b1 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 230px;
    --padding-bottom: 150px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-681 .elementor-element.elementor-element-da2f1b1:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-da2f1b1>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/home-hero-cover-image_optimized.webp");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-da2f1b1,
.elementor-681 .elementor-element.elementor-element-da2f1b1::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-96ab25c>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-681 .elementor-element.elementor-element-96ab25c {
    text-align: center;
    color: var(--e-global-color-blocksy_palette_1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-681 .elementor-element.elementor-element-3fedb34 {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-3fedb34 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_8);
    font-size: 70px;
    line-height: 1.2em;
}

.elementor-681 .elementor-element.elementor-element-49a7938 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-681 .elementor-element.elementor-element-713c4d5 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-713c4d5:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-713c4d5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/francesca-tosolini-tHkJAMcO3QE-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-713c4d5,
.elementor-681 .elementor-element.elementor-element-713c4d5::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-61b57e6 {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.9;
    --padding-top: 90px;
    --padding-bottom: 90px;
    --padding-left: 90px;
    --padding-right: 90px;
}

.elementor-681 .elementor-element.elementor-element-61b57e6:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-61b57e6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/flowers-pattern-1-white.svg");
    background-color: #2E4E2A;
    background-position: center center;
    background-size: 750px auto;
}

.elementor-681 .elementor-element.elementor-element-61b57e6::before,
.elementor-681 .elementor-element.elementor-element-61b57e6>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-61b57e6>.e-con-inner>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-61b57e6>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-61b57e6>.e-con-inner>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-61b57e6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-61b57e6,
.elementor-681 .elementor-element.elementor-element-61b57e6::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-0ab3ed4>.elementor-widget-container {
    margin: 0px 0px 40px 0px;
}

.elementor-681 .elementor-element.elementor-element-0ab3ed4 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_8);
    font-size: 50px;
    line-height: 1.2em;
}

.elementor-681 .elementor-element.elementor-element-488c354>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-681 .elementor-element.elementor-element-488c354 {
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-1ebcc84 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-681 .elementor-element.elementor-element-677d74e {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --background-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-940f0bd {
    --display: flex;
    --min-height: 270px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-681 .elementor-element.elementor-element-940f0bd:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-940f0bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/olll-removebg-preview.png");
    background-color: #999dad7a;
    background-position: 76px 38px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-940f0bd:hover {
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-940f0bd,
.elementor-681 .elementor-element.elementor-element-940f0bd::before {
    --overlay-transition: 0.2s;
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-d1e93a4>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-681 .elementor-element.elementor-element-09055e3>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button .elementor-button-content-wrapper {
    gap: 11px;
}

.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button {
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button:hover,
.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button:hover svg,
.elementor-681 .elementor-element.elementor-element-09055e3 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-681 .elementor-element.elementor-element-ffdffe6 {
    --display: flex;
    --min-height: 270px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-681 .elementor-element.elementor-element-ffdffe6:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-ffdffe6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/webaliser-_TPTXZd9mOo-unsplash-removebg-preview.png");
    background-color:#999dad7a ;
    background-position: 66px 47px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-ffdffe6:hover {
    background-color:var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-ffdffe6,
.elementor-681 .elementor-element.elementor-element-ffdffe6::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-78a60f1>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-681 .elementor-element.elementor-element-f63fc40>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button .elementor-button-content-wrapper {
    gap: 11px;
}

.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button {
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button:hover,
.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button:hover svg,
.elementor-681 .elementor-element.elementor-element-f63fc40 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-681 .elementor-element.elementor-element-ceb6056 {
    --display: flex;
    --min-height: 570px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-681 .elementor-element.elementor-element-ceb6056:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-ceb6056>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/megan-thomas-xMh_ww8HN_Q-unsplash-removebg-preview.png");
    background-color: var(--e-global-color-blocksy_palette_3);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-ceb6056:hover {
    background-color: #999dad7a;
}

.elementor-681 .elementor-element.elementor-element-ceb6056,
.elementor-681 .elementor-element.elementor-element-ceb6056::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-1a42164>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-681 .elementor-element.elementor-element-1a42164 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-6ee43bd>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button .elementor-button-content-wrapper {
    gap: 11px;
}

.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button {
    fill: #000000;
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button:hover,
.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button:focus {
    color: #FFFFFF;
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button:hover svg,
.elementor-681 .elementor-element.elementor-element-6ee43bd .elementor-button:focus svg {
    fill: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-267851a {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 30px 30px;
    --background-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-7742767 {
    --display: flex;
    --min-height: 270px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-681 .elementor-element.elementor-element-7742767:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-7742767>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/ai-generated-8879117_1280-removebg-preview.png");
    background-color: #999dad7a;
    background-position: 28px 47px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-7742767:hover {
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-7742767,
.elementor-681 .elementor-element.elementor-element-7742767::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-b7bee5c>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-681 .elementor-element.elementor-element-d010f08>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button .elementor-button-content-wrapper {
    gap: 11px;
}

.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button {
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button:hover,
.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button:hover svg,
.elementor-681 .elementor-element.elementor-element-d010f08 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-681 .elementor-element.elementor-element-43425b6 {
    --display: flex;
    --min-height: 270px;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --justify-content: flex-end;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 35px;
    --padding-bottom: 35px;
    --padding-left: 35px;
    --padding-right: 35px;
}

.elementor-681 .elementor-element.elementor-element-43425b6:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-43425b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/marc-olivier-jodoin-NqOInJ-ttqM-unsplash-removebg-preview.png");
    background-color: #999dad7a;
    background-position: 0px 75px;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-43425b6:hover {
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-43425b6,
.elementor-681 .elementor-element.elementor-element-43425b6::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-a193b06>.elementor-widget-container {
    margin: 0px 0px 5px 0px;
}

.elementor-681 .elementor-element.elementor-element-451f648>.elementor-widget-container {
    padding: 24px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button-content-wrapper {
    flex-direction: row-reverse;
}

.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button .elementor-button-content-wrapper {
    gap: 11px;
}

.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button {
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button:hover,
.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button:focus {
    color: #000000;
    background-color: #FFFFFF;
}

.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button:hover svg,
.elementor-681 .elementor-element.elementor-element-451f648 .elementor-button:focus svg {
    fill: #000000;
}

.elementor-681 .elementor-element.elementor-element-77f5f9d {
    --display: flex;
    --background-transition: 0.3s;
    --z-index: 1;
}

.elementor-681 .elementor-element.elementor-element-01da881 {
    --display: flex;
    --min-height: 500px;
    --flex-direction: row;
    --container-widget-width: calc((1 - var(--container-widget-flex-grow)) * 100%);
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: center;
    --align-items: center;
    --background-transition: 0.3s;
    --overlay-opacity: 0;
    --border-radius: 0px 0px 0px 0px;
}

.elementor-681 .elementor-element.elementor-element-01da881:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-01da881>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/pexels-vanmalidate-784633.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-01da881::before,
.elementor-681 .elementor-element.elementor-element-01da881>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-01da881>.e-con-inner>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-01da881>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-01da881>.e-con-inner>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-01da881>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
}

.elementor-681 .elementor-element.elementor-element-01da881:hover::before,
.elementor-681 .elementor-element.elementor-element-01da881:hover>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-01da881:hover>.e-con-inner>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-01da881>.elementor-background-slideshow:hover::before,
.elementor-681 .elementor-element.elementor-element-01da881>.e-con-inner>.elementor-background-slideshow:hover::before {
    --background-overlay: '';
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-01da881:hover {
    --overlay-opacity: 0.1;
}

.elementor-681 .elementor-element.elementor-element-01da881,
.elementor-681 .elementor-element.elementor-element-01da881::before {
    --overlay-transition: 0.5s;
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-2c3934d .elementor-icon-wrapper {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-blocksy_palette_1);
    color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-default .elementor-icon {
    color: var(--e-global-color-blocksy_palette_1);
    border-color: var(--e-global-color-blocksy_palette_1);
}

.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-blocksy_palette_1);
}

.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-framed .elementor-icon {
    background-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2c3934d.elementor-view-stacked .elementor-icon svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2c3934d .elementor-icon {
    font-size: 80px;
    padding: 0px;
}

.elementor-681 .elementor-element.elementor-element-2c3934d .elementor-icon svg {
    height: 80px;
}

.elementor-681 .elementor-element.elementor-element-506e8c6 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.9;
    --margin-top: -120px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 240px;
    --padding-bottom: 120px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-681 .elementor-element.elementor-element-506e8c6:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-506e8c6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/1743234075995.png");
    background-color: #2E4E2A;
    background-position: center center;
    background-size: 750px auto;
}

.elementor-681 .elementor-element.elementor-element-506e8c6::before,
.elementor-681 .elementor-element.elementor-element-506e8c6>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-506e8c6>.e-con-inner>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-506e8c6>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-506e8c6>.e-con-inner>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-506e8c6>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color:var(--e-global-color-blocksy_palette_4);
}

.elementor-681 .elementor-element.elementor-element-506e8c6,
.elementor-681 .elementor-element.elementor-element-506e8c6::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-0bf9abf>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-681 .elementor-element.elementor-element-0bf9abf {
    text-align: center;
    color: #FFFFFF8F;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-681 .elementor-element.elementor-element-b13e976 {
    width: var(--container-widget-width, 800px);
    max-width: 800px;
    --container-widget-width: 800px;
    --container-widget-flex-grow: 0;
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-b13e976>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-681 .elementor-element.elementor-element-b13e976.elementor-element {
    --align-self: center;
}

.elementor-681 .elementor-element.elementor-element-b13e976 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_8);
    font-size: 40px;
    line-height: 1.5em;
}

.elementor-681 .elementor-element.elementor-element-11a2afb {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --justify-content: space-between;
    --background-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-a692322 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 70px;
    --padding-bottom: 70px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-681 .elementor-element.elementor-element-a692322:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-a692322>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-681 .elementor-element.elementor-element-a692322,
.elementor-681 .elementor-element.elementor-element-a692322::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-4749811 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-4749811.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-4749811.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-4749811.elementor-view-default .elementor-icon {
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-4749811.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-4749811.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-4749811 .elementor-icon {
    font-size: 40px;
}

.elementor-681 .elementor-element.elementor-element-4749811 .elementor-icon svg {
    height: 40px;
}

.elementor-681 .elementor-element.elementor-element-c8de787 .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4em;
}

.elementor-681 .elementor-element.elementor-element-c8de787 .elementor-counter-title {
    color: #FFFFFF8F;
    font-size: 18px;
    font-weight: 700;
}

.elementor-681 .elementor-element.elementor-element-3d663fb {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 70px;
    --padding-bottom: 70px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-681 .elementor-element.elementor-element-3d663fb:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-3d663fb>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-blocksy_palette_3);;
}

.elementor-681 .elementor-element.elementor-element-3d663fb,
.elementor-681 .elementor-element.elementor-element-3d663fb::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-2143e7a .elementor-icon-wrapper {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-2143e7a.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2143e7a.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-2143e7a.elementor-view-default .elementor-icon {
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2143e7a.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-2143e7a.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-2143e7a .elementor-icon {
    font-size: 40px;
}

.elementor-681 .elementor-element.elementor-element-2143e7a .elementor-icon svg {
    height: 40px;
}

.elementor-681 .elementor-element.elementor-element-c210616 .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4em;
}

.elementor-681 .elementor-element.elementor-element-c210616 .elementor-counter-title {
    color: #FFFFFF8F;
    font-size: 18px;
    font-weight: 700;
}

.elementor-681 .elementor-element.elementor-element-d1a964f {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --padding-top: 70px;
    --padding-bottom: 70px;
    --padding-left: 50px;
    --padding-right: 50px;
}

.elementor-681 .elementor-element.elementor-element-d1a964f:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-d1a964f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-color: var(--e-global-color-blocksy_palette_3);;
}

.elementor-681 .elementor-element.elementor-element-d1a964f,
.elementor-681 .elementor-element.elementor-element-d1a964f::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-c69dcd2 .elementor-icon-wrapper {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-c69dcd2.elementor-view-stacked .elementor-icon {
    background-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-c69dcd2.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-c69dcd2.elementor-view-default .elementor-icon {
    color: var(--e-global-color-blocksy_palette_8);
    border-color: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-c69dcd2.elementor-view-framed .elementor-icon,
.elementor-681 .elementor-element.elementor-element-c69dcd2.elementor-view-default .elementor-icon svg {
    fill: var(--e-global-color-blocksy_palette_8);
}

.elementor-681 .elementor-element.elementor-element-c69dcd2 .elementor-icon {
    font-size: 40px;
}

.elementor-681 .elementor-element.elementor-element-c69dcd2 .elementor-icon svg {
    height: 40px;
}

.elementor-681 .elementor-element.elementor-element-8c36775 .elementor-counter-number-wrapper {
    color: #FFFFFF;
    font-size: 48px;
    font-weight: 800;
    line-height: 1.4em;
}

.elementor-681 .elementor-element.elementor-element-8c36775 .elementor-counter-title {
    color: #FFFFFF8F;
    font-size: 18px;
    font-weight: 700;
}

.elementor-681 .elementor-element.elementor-element-f73a91a {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-681 .elementor-element.elementor-element-e46ab41 {
    --display: flex;
    --background-transition: 0.3s;
    --overlay-opacity: 0.1;
    --padding-top: 120px;
    --padding-bottom: 95px;
    --padding-left: 90px;
    --padding-right: 90px;
}

.elementor-681 .elementor-element.elementor-element-e46ab41:not(.elementor-motion-effects-element-type-background),
.elementor-681 .elementor-element.elementor-element-e46ab41>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/subscribe-form-cover_optimized.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-681 .elementor-element.elementor-element-e46ab41::before,
.elementor-681 .elementor-element.elementor-element-e46ab41>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-e46ab41>.e-con-inner>.elementor-background-video-container::before,
.elementor-681 .elementor-element.elementor-element-e46ab41>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-e46ab41>.e-con-inner>.elementor-background-slideshow::before,
.elementor-681 .elementor-element.elementor-element-e46ab41>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: #000000;
}

.elementor-681 .elementor-element.elementor-element-e46ab41,
.elementor-681 .elementor-element.elementor-element-e46ab41::before {
    --border-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-bd6eb8d {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-681 .elementor-element.elementor-element-498cacc>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-681 .elementor-element.elementor-element-498cacc {
    text-align: center;
    color: var(--e-global-color-blocksy_palette_1);
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-681 .elementor-element.elementor-element-1019490>.elementor-widget-container {
    margin: 0px 0px 15px 0px;
}

.elementor-681 .elementor-element.elementor-element-1019490 {
    text-align: center;
}

.elementor-681 .elementor-element.elementor-element-1019490 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_5);
    font-size: 40px;
    line-height: 1.5em;
}

.elementor-681 .elementor-element.elementor-element-61ea42f>.elementor-widget-container {
    margin: 0px 0px 24px 0px;
}

.elementor-681 .elementor-element.elementor-element-61ea42f {
    text-align: center;
    color: var(--e-global-color-blocksy_palette_8);
    font-size: 25px;
}

@media(min-width:768px) {
    .elementor-681 .elementor-element.elementor-element-713c4d5 {
        --width: 40%;
    }

    .elementor-681 .elementor-element.elementor-element-61b57e6 {
        --width: 60%;
    }

    .elementor-681 .elementor-element.elementor-element-677d74e {
        --width: 33%;
    }

    .elementor-681 .elementor-element.elementor-element-ceb6056 {
        --width: 33%;
    }

    .elementor-681 .elementor-element.elementor-element-267851a {
        --width: 33%;
    }

    .elementor-681 .elementor-element.elementor-element-01da881 {
        --width: 100%;
    }

    .elementor-681 .elementor-element.elementor-element-a692322 {
        --width: 31%;
    }

    .elementor-681 .elementor-element.elementor-element-3d663fb {
        --width: 31%;
    }

    .elementor-681 .elementor-element.elementor-element-d1a964f {
        --width: 31%;
    }

    .elementor-681 .elementor-element.elementor-element-bd6eb8d {
        --content-width: 600px;
    }
}

@media(max-width:1024px) and (min-width:768px) {
    .elementor-681 .elementor-element.elementor-element-bd6eb8d {
        --content-width: 80%;
    }
}

@media(max-width:1024px) {
    .elementor-681 .elementor-element.elementor-element-da2f1b1 {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 120px;
        --padding-bottom: 70px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-3fedb34 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-681 .elementor-element.elementor-element-49a7938 {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-61b57e6 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 50px;
        --padding-right: 50px;
    }

    .elementor-681 .elementor-element.elementor-element-0ab3ed4>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-0ab3ed4 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-681 .elementor-element.elementor-element-1ebcc84 {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-940f0bd:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-940f0bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-ffdffe6:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-ffdffe6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-7742767:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-7742767>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-43425b6:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-43425b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-01da881 {
        --min-height: 400px;
    }

    .elementor-681 .elementor-element.elementor-element-2c3934d .elementor-icon {
        font-size: 60px;
    }

    .elementor-681 .elementor-element.elementor-element-2c3934d .elementor-icon svg {
        height: 60px;
    }

    .elementor-681 .elementor-element.elementor-element-506e8c6 {
        --margin-top: -120px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 190px;
        --padding-bottom: 70px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-b13e976>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-b13e976 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-681 .elementor-element.elementor-element-c8de787 .elementor-counter-number-wrapper {
        font-size: 35px;
    }

    .elementor-681 .elementor-element.elementor-element-c8de787 .elementor-counter-title {
        font-size: 16px;
    }

    .elementor-681 .elementor-element.elementor-element-c210616 .elementor-counter-number-wrapper {
        font-size: 35px;
    }

    .elementor-681 .elementor-element.elementor-element-c210616 .elementor-counter-title {
        font-size: 16px;
    }

    .elementor-681 .elementor-element.elementor-element-8c36775 .elementor-counter-number-wrapper {
        font-size: 35px;
    }

    .elementor-681 .elementor-element.elementor-element-8c36775 .elementor-counter-title {
        font-size: 16px;
    }

    .elementor-681 .elementor-element.elementor-element-f73a91a {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-e46ab41 {
        --padding-top: 70px;
        --padding-bottom: 45px;
        --padding-left: 70px;
        --padding-right: 70px;
    }

    .elementor-681 .elementor-element.elementor-element-1019490 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-681 .elementor-element.elementor-element-61ea42f {
        font-size: 20px;
    }
}

@media(max-width:767px) {
    .elementor-681 .elementor-element.elementor-element-713c4d5 {
        --min-height: 500px;
    }

    .elementor-681 .elementor-element.elementor-element-61b57e6 {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-681 .elementor-element.elementor-element-0ab3ed4 {
        text-align: center;
    }

    .elementor-681 .elementor-element.elementor-element-488c354 {
        text-align: center;
    }

    .elementor-681 .elementor-element.elementor-element-940f0bd:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-940f0bd>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-ffdffe6:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-ffdffe6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-7742767:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-7742767>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-43425b6:not(.elementor-motion-effects-element-type-background),
    .elementor-681 .elementor-element.elementor-element-43425b6>.elementor-motion-effects-container>.elementor-motion-effects-layer {
        background-position: 0px 0px;
    }

    .elementor-681 .elementor-element.elementor-element-b13e976 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-681 .elementor-element.elementor-element-11a2afb {
        --gap: 30px 30px;
    }

    .elementor-681 .elementor-element.elementor-element-f73a91a {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-681 .elementor-element.elementor-element-e46ab41 {
        --padding-top: 70px;
        --padding-bottom: 45px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-681 .elementor-element.elementor-element-bd6eb8d {
        --content-width: 100%;
    }

    .elementor-681 .elementor-element.elementor-element-1019490 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-681 .elementor-element.elementor-element-61ea42f>.elementor-widget-container {
        margin: 0px 0px 16px 0px;
    }
}