.elementor-1216 .elementor-element.elementor-element-5c063a5 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.5;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
    --padding-top: 230px;
    --padding-bottom: 150px;
    --padding-left: 0px;
    --padding-right: 0px;
}

.elementor-1216 .elementor-element.elementor-element-5c063a5:not(.elementor-motion-effects-element-type-background),
.elementor-1216 .elementor-element.elementor-element-5c063a5>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/ai-generated-8879117_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1216 .elementor-element.elementor-element-5c063a5::before,
.elementor-1216 .elementor-element.elementor-element-5c063a5>.elementor-background-video-container::before,
.elementor-1216 .elementor-element.elementor-element-5c063a5>.e-con-inner>.elementor-background-video-container::before,
.elementor-1216 .elementor-element.elementor-element-5c063a5>.elementor-background-slideshow::before,
.elementor-1216 .elementor-element.elementor-element-5c063a5>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1216 .elementor-element.elementor-element-5c063a5>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: transparent;
    background-image: linear-gradient(180deg, #000000 0%, #7700ff 57%);
}

.elementor-1216 .elementor-element.elementor-element-5c063a5,
.elementor-1216 .elementor-element.elementor-element-5c063a5::before {
    --border-transition: 0.3s;
}

.elementor-1216 .elementor-element.elementor-element-a411ca5>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1216 .elementor-element.elementor-element-a411ca5 {
    text-align: center;
    color: #5A8139;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.elementor-1216 .elementor-element.elementor-element-b064509 {
    text-align: center;
}

.elementor-1216 .elementor-element.elementor-element-b064509 .elementor-heading-title {
    color: var(--e-global-color-blocksy_palette_8);
    font-size: 70px;
    line-height: 1.2em;
}

.elementor-1216 .elementor-element.elementor-element-fcc74c7 {
    --display: flex;
    --gap: 0px 0px;
    --background-transition: 0.3s;
}

.elementor-1216 .elementor-element.elementor-element-c65be38>.elementor-widget-container {
    margin: 0px 0px 50px 0px;
}

.elementor-1216 .elementor-element.elementor-element-c65be38.elementor-element {
    --align-self: center;
}

.elementor-1216 .elementor-element.elementor-element-c65be38 {
    text-align: center;
}

.elementor-1216 .elementor-element.elementor-element-c65be38 .elementor-heading-title {
    font-size: 40px;
    line-height: 1.5em;
}

.elementor-1216 .elementor-element.elementor-element-bc3cff0>.elementor-widget-container {
    margin: 0px 0px 10px 0px;
}

.elementor-1216 .elementor-element.elementor-element-bc3cff0 {
    text-align: center;
    color: #47523D;
    font-size: 19px;
    font-weight: 700;
    text-transform: capitalize;
}

.elementor-1216 .elementor-element.elementor-element-f9b6298 {
    --display: flex;
    --flex-direction: row;
    --container-widget-width: initial;
    --container-widget-height: 100%;
    --container-widget-flex-grow: 1;
    --container-widget-align-self: stretch;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --margin-top: 0px;
    --margin-bottom: 120px;
    --margin-left: 0px;
    --margin-right: 0px;
}

.elementor-1216 .elementor-element.elementor-element-73e968f {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --background-transition: 0.3s;
}

.elementor-1216 .elementor-element.elementor-element-73e968f:not(.elementor-motion-effects-element-type-background),
.elementor-1216 .elementor-element.elementor-element-73e968f>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2024/07/adrian-regeci-XDykiiRUEoQ-unsplash.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.elementor-1216 .elementor-element.elementor-element-73e968f,
.elementor-1216 .elementor-element.elementor-element-73e968f::before {
    --border-transition: 0.3s;
}

.elementor-1216 .elementor-element.elementor-element-f9572ee {
    --display: flex;
    --flex-direction: column;
    --container-widget-width: 100%;
    --container-widget-height: initial;
    --container-widget-flex-grow: 0;
    --container-widget-align-self: initial;
    --flex-wrap-mobile: wrap;
    --gap: 0px 0px;
    --background-transition: 0.3s;
    --overlay-opacity: 0.9;
    --padding-top: 90px;
    --padding-bottom: 90px;
    --padding-left: 90px;
    --padding-right: 90px;
}

.elementor-1216 .elementor-element.elementor-element-f9572ee:not(.elementor-motion-effects-element-type-background),
.elementor-1216 .elementor-element.elementor-element-f9572ee>.elementor-motion-effects-container>.elementor-motion-effects-layer {
    background-image: url("../../2022/01/1743234075995.png");
    background-color: #999dad7a;
    background-position: center center;
    background-size: 750px auto;
}

.elementor-1216 .elementor-element.elementor-element-f9572ee::before,
.elementor-1216 .elementor-element.elementor-element-f9572ee>.elementor-background-video-container::before,
.elementor-1216 .elementor-element.elementor-element-f9572ee>.e-con-inner>.elementor-background-video-container::before,
.elementor-1216 .elementor-element.elementor-element-f9572ee>.elementor-background-slideshow::before,
.elementor-1216 .elementor-element.elementor-element-f9572ee>.e-con-inner>.elementor-background-slideshow::before,
.elementor-1216 .elementor-element.elementor-element-f9572ee>.elementor-motion-effects-container>.elementor-motion-effects-layer::before {
    --background-overlay: '';
    background-color: var(--e-global-color-blocksy_palette_3);
}

.elementor-1216 .elementor-element.elementor-element-f9572ee,
.elementor-1216 .elementor-element.elementor-element-f9572ee::before {
    --border-transition: 0.3s;
}

.elementor-1216 .elementor-element.elementor-element-79600de>.elementor-widget-container {
    margin: 0px 0px 20px 0px;
}

.elementor-1216 .elementor-element.elementor-element-79600de {
    color: var(--e-global-color-blocksy_palette_8);
}

@media(min-width:768px) {
    .elementor-1216 .elementor-element.elementor-element-73e968f {
        --width: 40%;
    }

    .elementor-1216 .elementor-element.elementor-element-f9572ee {
        --width: 60%;
    }
}

@media(max-width:1024px) {
    .elementor-1216 .elementor-element.elementor-element-5c063a5 {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
        --padding-top: 120px;
        --padding-bottom: 70px;
        --padding-left: 0px;
        --padding-right: 0px;
    }

    .elementor-1216 .elementor-element.elementor-element-b064509 .elementor-heading-title {
        font-size: 35px;
    }

    .elementor-1216 .elementor-element.elementor-element-c65be38>.elementor-widget-container {
        margin: 0px 0px 30px 0px;
    }

    .elementor-1216 .elementor-element.elementor-element-c65be38 .elementor-heading-title {
        font-size: 30px;
    }

    .elementor-1216 .elementor-element.elementor-element-f9b6298 {
        --margin-top: 0px;
        --margin-bottom: 70px;
        --margin-left: 0px;
        --margin-right: 0px;
    }

    .elementor-1216 .elementor-element.elementor-element-f9572ee {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 50px;
        --padding-right: 50px;
    }
}

@media(max-width:767px) {
    .elementor-1216 .elementor-element.elementor-element-c65be38 {
        width: 100%;
        max-width: 100%;
    }

    .elementor-1216 .elementor-element.elementor-element-c65be38 .elementor-heading-title {
        font-size: 25px;
    }

    .elementor-1216 .elementor-element.elementor-element-73e968f {
        --min-height: 500px;
    }

    .elementor-1216 .elementor-element.elementor-element-f9572ee {
        --padding-top: 50px;
        --padding-bottom: 50px;
        --padding-left: 30px;
        --padding-right: 30px;
    }

    .elementor-1216 .elementor-element.elementor-element-79600de {
        text-align: center;
    }
}